[submodule "external/CommonLibSSE-po3"]
	path = external/CommonLibSSE-po3
	url = https://github.com/powerof3/CommonLibSSE
	branch = dev
[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
	branch = dev
